[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[packages]
apispec = {extras = ["yaml"], version = "*"}
apispec-webframeworks = "*"
celery = {extras = ["redis"], version = "*"}
flask = "*"
flask-caching = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
passlib = "*"
python-dotenv = "*"
hashids = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
